doctype html
html(lang="en")
	head
		include assets/includes/head
		title Yoru
	body
		include assets/includes/mobilenav
		include assets/includes/header
		main
			section#error.d-flex.justify-content-center.align-items-center
				.error-details
					.error-title Error 404
					.error-desc Page Not Found

		script(src="/assets/script.js") 