doctype html
html(lang="en")
	head
		include assets/includes/head
		title Events - Yoru
	body
		include assets/includes/mobilenav
		include assets/includes/header
		main 
			section#hero-events.d-flex.justify-content-center.align-items-center
				div 
					.section-title Events
					.section-heading Coming Soon
			.event-img
						img(src='/assets/images/world-map.jpg')
		
		script(src="/assets/script.js") 