doctype html
html(lang="en") 
	head
		include assets/includes/head
		title Manifesto - Yoru
	body
		include assets/includes/mobilenav
		include assets/includes/header
		main
			section#hero-cont.d-flex.justify-content-center.align-items-center.container-fluid
				.row 
					.col-lg-6.section-text.d-flex.justify-content-center.align-items-center
						div
							.section-title Manifesto
							.section-par.
								Driven by one idea: connecting web-3 and the real world you. #[br]#[br]

								Yoru is not an entity. It is a way of life, a community, a movement a state. You live your life as Yoru, with Yoru and at Yoru. #[br]#[br]

								Thriving in the shadows. Shining in the moonlight. Breaking ceilings and any and all assumptions and expectations. #[br]

								An underground network of the night community. #[br]#[br]

								Success in silence. Silence in excess. Break all expectations. #[br]#[br]

								Join the movement - join the few.
					.col-lg-6.section-photo 
						img(src='/assets/images/green-character.png')

		include assets/includes/footer
		script(src="/assets/script.js") 