doctype html
html(lang="en")
	head
		include assets/includes/head
		title Values - Yoru
	body
		include assets/includes/mobilenav 
		include assets/includes/header
		main
			section#values.container.d-flex.justify-content-center.align-items-center
				div
					.section-title Values
					.row 
						.col-lg-6.g-5
							.values-box
								.values-title A brand to be proud of.
								.values-par.
									Every Yoru holder should be proud and glad to show off what they have, and be proud to be a representative of Yoru.
						.col-lg-6.g-5
							.values-box
								.values-title Providing value to holders.
								.values-par.
									Every Yoru holder should be provided more value, both in and outside the Solana ecosystem, than they put into Yoru.
					.row 
						.col-lg-6.g-5
							.values-box
								.values-title A community second to none.
								.values-par.
									Like none other. A community of inventors and innovators, traders and degens, vibe maxis and the dignified alike. 

						.col-lg-6.g-5
							.values-box
								.values-title Delivery > Promises.
								.values-par.
									In your time, you’ll be a promised a million Xs and a billion Ys. But how many will you actually receive? Yoru sticks to the principle of no games - just delivering.

		include assets/includes/footer
		script(src="/assets/script.js") 