doctype html
html(lang="en")
	head
		include assets/includes/head
		title Yoru - Yoru
	body 
		include assets/includes/mobilenav
		include assets/includes/header
		main
			section#hero-cont.d-flex.justify-content-center.align-items-center.container-fluid
				.row 
					.col-lg-6.yoru-text.d-flex.justify-content-center.align-items-center
						.div
							.section-title What is Yoru?
							.section-par.
								A life of tranquility. #[br]
								A life of lucidity #[br]
								A life of being the one you were meant to be. #[br]#[br]

								Breaking free from what you are told to be.#[br]
								Breaking free from the noise.#[br]
								Breaking free from all the commotion.#[br]#[br]

								Finding who you are at your best.#[br]
								Being who you are at your best.#[br]#[br]

								Build a life of always moving forward, and never looking back.#[br]#[br]

								Success in silence.#[br]
								Silence in excess.#[br]
								

					.col-lg-6.section-photo 
						img(src='/assets/images/red-character.png' class='red')

		include assets/includes/footer
		script(src="/assets/script.js") 