header.container-fluid.d-flex.align-items-center.justify-content-center.px-5.d-none.d-sm-none.d-md-none.d-lg-flex
	.logo 
		a(href='/') #[img(src='/assets/images/logo.png')]
	.nav.ms-auto.d-flex
		a(href='/public/manifesto') Manifesto
		a(href='/public/values') Values
		a(href='/public/yoru') Yoru
		a(href='/public/events') Events
	.socials.d-flex
		a(href='https://discord.gg/yoru') #[i(class='fab fa-discord' aria-hidden="true")]
		a(href='https://twitter.com/yorusolana?s=21&t=c-qFm8Wj68P4m7HY2nz0Hg') #[i(class='fab fa-twitter' aria-hidden="true")]

header.container-fluid.d-flex.align-items-center.justify-content-between.px-3.d-sm-flex.d-md-flex.d-lg-none
	.logo 
		a(href='/') #[img(src='/assets/images/logo.png')]
	.hamburger
		i(class="fas fa-bars" aria-hidden="true")