.mobile-nav
	a(href='/') Home
	a(href='/public/manifesto.html') Manifesto
	a(href='/public/values.html') Values
	a(href='/public/yoru.html') Yoru
	a(href='/public/events.html') Events
	.menu-close
		i(class="fas fa-times" aria-hidden="true")
